<% include partials/header %>
<div class="landing d-flex flex-column align-items-center">
    <div class="landing-wrapper">
        <h1>Welcome to GearHub!</h1>
        <p>Gadgets, IoT, hardware, consumer electronics</p>
        <a href="/items" class="btn btn-secondary btn-lg">View All Items</a>
    </div>
</div>

<% include partials/footer %>
