<% include ../partials/header %>

<div class="container">
    <header class="jumbotron mt-3">
        <h1>Welcome to GearHub!</h1>
        <p>Review interesting gadgets, IoT and smart home devices</p>
        <p>
            <a class="btn btn-primary" href="/items/new">Add New Item</a>
        </p>
    </header>

    <div class="container">
        <div class="row">
            <% items.forEach(function(item) { %>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="cards bg-light mb-5">
                    <img src="<%= item.image %>" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title"><%= item.name %></h5>
                        <p class="card-text"><%=item.description%></p>
                        <a href="/items/<%=item._id%>" class="btn btn-primary"
                            >More Info</a
                        >
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
